<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Mind yourself</div>
      <div class="item item-body">
        <div>
          Don't skip breakfast <b>in any circumstances</b>!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">What about your glasses of water?</div>
      <div class="item item-body">
        <div>
          It's good to have at least 8 a day!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Feeling peckish?</div>
      <div class="item item-body">
        <div>
          Go for a fruit or a cup of herbal tea <b>without sugar</b>.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
